* {
    padding: 0;
    margin: 0;
}
h1 {
    font-family: 'Baloo Da 2', cursive;
}
h2 {
    padding-bottom: 20px;
}
body {
    background-color: wheat;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, rgba(100, 236, 107, 0.678), rgb(179, 197, 245) );
}

/* styling the navigation section */
.paper {
    background-color: gray;
}
.navbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background: #333;
    width: 100%;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}
.links {    
    margin-top: 50px;
    flex-wrap: wrap;
} 

ul {
    display: flex;
    position: relative;
}
ul > li {
    list-style-type: none;
}

ul > li > a {
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    background-color: teal;
    flex-wrap: wrap;
}
ul > li > a:hover {
    color: black;
    background-color: burlywood;
    transition: .2s;
}
/* styling about me section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    padding: 10px;
    background-color: gray;
    color: honeydew;
}
button:hover {
    box-shadow:gray 0 4px 4px 2px;
    background-color: rgb(114, 36, 36);
    transition: .2s;
}
button>a {
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    color: lavenderblush;
}

.hello {
    margin: 20px;
    padding: 10px;
    width: 50%;
    margin-right: 30px;
    flex-wrap: wrap;
    box-shadow: grey 0 2px 2px 0;
    background-color: rgb(183, 211, 214);
}
.hello:hover {
    box-shadow: grey 0 4px 4px 1px;
}


/* styling the div skills section */
.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.good {
    width: 50%;
    padding: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    box-shadow: grey 0 2px 2px 0;
    background-color: rgb(183, 211, 214);
}
.good:hover {
    box-shadow: grey 0 4px 4px 1px;
}
.good>p {
    margin-bottom: 10px;
    color: rgb(16, 97, 16);
}
.project {
    text-align: center;
}


/* styling social network */
.get {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.front {
    width: 50%;
    padding: 10px;
    margin-right: 30px;
    flex-wrap: wrap;
    box-shadow: grey 0 2px 2px 0;
    background-color: rgb(183, 211, 214);
}
.front:hover {
    box-shadow: grey 0 4px 4px 1px;
}

.me img {
    border-radius: 700px;
    border: 8px;
    background-color: blue;
}
.social {
    margin: 20px 0 0 0;
    font-size: 20px;
}
.social a{
    padding: 0 2px;
    margin: 20px;
}
.social a span{
    height: 40px;
    width: 40px;
    background: #292626;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.social a span:hover {
    background: #f12020;
}

/* footer */
.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: whitesmoke;
    background-color: rgb(12, 8, 8);
    width: 100%;
    margin-top: 20px;
}
.box {
    margin-right: 150px;
    margin-top: 20px;
}
@media only screen and (max-width: 300px) {
    body {font-size: 11px}
  }